<div class="d-flex">
  <nav id="sidebar" class="sidebar bg-dark text-white">
    <div class="sidebar-header text-center py-3">
      <h4>
        Orage Invoice
      </h4>
      <button id="sidebarToggle" class="btn btn-sm btn-light d-lg-none" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <nav class="nav flex-column">
      <a routerLink="" class="nav-link text-white d-flex align-items-center">
        <i class="fa-solid fa-house me-4 icon-large"></i> <span>Dashboard</span>
      </a>
      <a routerLink="/clients/add" class="nav-link text-white d-flex align-items-center">
        <i class="fas fa-user-plus me-4 icon-large"></i> <span>Add Client</span>
      </a>
      <a routerLink="/clients" class="nav-link text-white d-flex align-items-center">
        <i class="fas fa-users me-4 icon-large"></i> <span>Client List</span>
      </a>
      <a routerLink="/vendors/add" class="nav-link text-white d-flex align-items-center">
        <i class="fas fa-building me-4 icon-large"></i> <span>Create Vendors</span>
      </a>
      <a routerLink="/vendors" class="nav-link text-white d-flex align-items-center">
        <i class="fas fa-clipboard-list me-4 icon-large"></i> <span>Vendor List</span>
      </a>
      <a routerLink="/add-invoice" class="nav-link text-white d-flex align-items-center">
        <i class="fas fa-file-invoice me-4 icon-large"></i> <span>Create Invoice</span>
      </a>
      <a routerLink="/invoices-list" class="nav-link text-white d-flex align-items-center">
        <i class="fas fa-file-invoice-dollar me-4 icon-large"></i> <span>Invoice List</span>
      </a>
      <a routerLink="/items/add" class="nav-link text-white d-flex align-items-center">
        <i class="fas fa-box-open me-4 icon-large"></i> <span>Create Items</span>
      </a>
      <a routerLink="/items" class="nav-link text-white d-flex align-items-center">
        <i class="fas fa-box me-4 icon-large"></i> <span>Items List</span>
      </a>
      <a routerLink="/purchase-orders/new" class="nav-link text-white d-flex align-items-center">
        <i class="fas fa-shopping-cart me-4 icon-large"></i> <span>Create Purchase Order</span>
      </a>
      <a routerLink="/purchase-orders" class="nav-link text-white d-flex align-items-center">
        <i class="fas fa-list me-4 icon-large"></i> <span>Purchase Order List</span>
      </a>
    
      <a routerLink="/credit-note" class="nav-link text-white d-flex align-items-center">
        <i class="fa-solid fa-note-sticky me-4 icon-large"></i> <span>Credit Note</span>
      </a>
      <a routerLink="/debit-note" class="nav-link text-white d-flex align-items-center">
        <i class="fa-solid fa-note-sticky me-4 icon-large"></i> <span>Debit Note</span>
      </a>
      <a routerLink="/items-test" class="nav-link text-white d-flex align-items-center">
        <i class="fas fa-file-invoice me-4 icon-large"></i> <span>Invoices</span>
      </a>
      <a routerLink="/profile" class="nav-link text-white d-flex align-items-center">
        <i class="fas fa-cog me-4 icon-large"></i> <span>Company Settings</span>
      </a>
    </nav>
  </nav>

  <!-- Main Content -->
  <div class="content flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
