
  
  


   
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"] {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none; 
  background: none; 
  border: 1px solid #ced4da; 
}

